page-gallery {
    .image-container {
        background-size: 100px;
        min-height: 200px;
        background-repeat: no-repeat;
        border: 1px solid gray;
        background-position: center;
        padding-left: 5px;
        padding-top: 5px;
        border-radius: 10px;
        font-weight: bold;
    }

}
